<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>V度课推荐平台</title>
   <link type="text/css" rel="stylesheet" href="css/myproject.css" >
    <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body background="http://attach.bbs.miui.com/forum/201409/09/130415ome6e930vp99to05.jpg" >

<div id="app">
<!--平台名称-->
<div id="toptitle"><p style="width: 100px;height: 20px;text-align: center;margin: auto;font-size: xx-large;">V&nbsp;&nbsp;度&nbsp;&nbsp;课</p></div>
<!--搜索框的位置-->
<div id="search" >
    <input type="text" id="searchContext" v-model="toPage.contextInfo" style="border-color: #1e7e34;height: 25px" placeholder="请输入视频名称哦~">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<input type="button" value="点击为您推荐！" id="mybutton" @click="fuck" style="color: #bd3e4b" >
</div>

<div class="mainbox">
    <table id="maintable">
        <tr><td>视频名称</td><td>视频网址</td><td>操作</td>
        <tr v-for="(item,index) in VideoInfo" :key="index">
        <td>{{item.introduce}}</td>
        <td>{{item.addr}}</td>
        <td @click="seeNew(item.addr)">点击查看</td>
<!--        <tr><td>人上</td><td>www.seghbsvr ebrjbrbiwjjrnnrmnjeri.com</td><td>点击查看</td>-->
<!--        <tr><td>视问过我让国人人称</td><td>视频网址</td><td>点击查看</td>-->
<!--        <tr><td>视sdv</td><td>视频网址</td><td>点击查看</td>-->
        </tr>
    </table>
    <div id="bottomdiv">
        <div id="lasttPage"  @click="lastpage(toPage.contextInfo)"><a>上一页</a></div>
        <div id="currentPage"><span>{{one}}</span></div>
        <div id="nextPage" @click="nextpage(toPage.contextInfo)"><a>下一页</a></div>

    </div>
</div>
</div>
<script type="text/javascript" >
    var vm=new Vue({
        el:"#app",
        data:{
            toPage:{contextInfo:"",currentPage:"1"},
            VideoInfo: [],
            one:1

        },
        methods:{
            fuck:function(){
                //这里为了在内部的函数使用外部的对象做的声明
               // var result= this;
                //前端做判断输入的值为空的话不做处理
                if (this.toPage.contextInfo==''){
                    alert("您好请输入有效值！");
                }else {
                axios.post("video/tosearch",this.toPage)
                    .then(res=>{
                    console.info(res.data);
                // alert("前端已经接受到数据！");
                //result.VideoInfo=res.data;
                //此处的this已经表示了data
                if (res.data==''){
                    alert("您好，你输入的关键字我们暂时找不到资源，请您换一个试试吧~");
                }
                this.VideoInfo=res.data;
                console.info("处理成功！");

            }).catch(res=>{
                console.info("没有成功！");
                    console.info(res);
            });
                }

            },
            //跳转的方法
            seeNew:function(msg){
                alert("v-度课提示您您将跳转到新的为您推荐的网页~!");
                //跳转到新的地址去
                // window.location.href=msg;
                window.open(msg);

            },
            nextpage:function(contextinfo){//下一页的操作
                if (contextinfo==''){
                    alert("请在输入框中输入有效值才能点击翻页的操作哦~");
                }else {
                    //点击下一页的时候应该进行的操作有
                    //将当前页码的值减一个，同时进行分页查询的操作
                    //this.$options.methods.increse(this);
                    //当弹出来的没有内容了不再增加一
                    //测试获取数组的大小长度
                    var num=this.VideoInfo;
                 //  alert("得到数组的长度是："+ eval(num.length));

                     if (this.VideoInfo!=''&& eval(num.length==4)){
                         this.one=this.one+1;
                         //alert("点击下一页获取到的值是:"+contextinfo);
                         //alert("获取到点击下一页得到的传入的值:"+this.one);
                         //进行分页操作搜索功能
                         this.toPage.contextInfo=contextinfo;
                         this.toPage.currentPage=this.one;
                        // alert("传入后台的页码值是："+this.toPage.currentPage+"内容是:"+this.toPage.contextInfo);
                         axios.post("video/tonext",this.toPage)
                             .then(res=>{
                             console.info(res.data);
                         // alert("前端已经接受到数据！");
                         //result.VideoInfo=res.data;
                         //此处的this已经表示了data
                         if (res.data==''){
                             alert("您好已经到达最底了~");
                         }else {
                             this.VideoInfo=res.data;
                         }

                         console.info("处理成功！");

                     }).catch(res=>{
                             console.info("没有成功！");
                         console.info(res);
                     });
                     }else {

                         alert("已经给到底了哦~")
                     }






                }

            },
            lastpage:function(contextinfo){
                if (contextinfo==''){
                    alert("请在输入框中输入有效值才能点击翻页的操作哦~");
                }else {
                    //点击上一页的时候应该进行的操作有
                    //将当前页码的值加一个，同时进行分页查询的操作
                    //this.$options.methods.increse(this);
                    if (this.one>1){
                        this.one=this.one-1;
                        //进行分页的查询操作
                        this.toPage.contextInfo=contextinfo;
                        this.toPage.currentPage=this.one;
                        axios.post("video/tonext",this.toPage)
                            .then(res=>{
                            console.info(res.data);
                        // alert("前端已经接受到数据！");
                        //result.VideoInfo=res.data;
                        //此处的this已经表示了data
                        this.VideoInfo=res.data;

                        console.info("处理成功！");

                    }).catch(res=>{
                            console.info("没有成功！");
                        console.info(res);
                    });

                    }else {
                        alert("已经是第一页了哦~");
                    }


                    //alert("点击下一页获取到的值是:"+contextinfo);
                }

            },





        }
    });

</script>



</body>
</html>