<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>V度课推荐平台</title>
   <link type="text/css" rel="stylesheet" href="css/myproject.css" >
    <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body background="http://attach.bbs.miui.com/forum/201409/09/130415ome6e930vp99to05.jpg" >

<div id="app">
<!--平台名称-->
<div id="toptitle"><p style="width: 100px;height: 20px;text-align: center;margin: auto;font-size: xx-large;">V&nbsp;&nbsp;度&nbsp;&nbsp;课</p></div>
<!--搜索框的位置-->
<div id="search" >
    <input type="text" id="searchContext" v-model="toPage.contextInfo" style="border-color: #1e7e34;height: 25px" placeholder="请输入视频名称哦~">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<input type="button" value="点击为您推荐！" id="mybutton" @click="fuck" style="color: #bd3e4b" >
</div>

<div class="mainbox">
    <table id="maintable">
        <tr><td>视频名称</td><td>视频网址</td><td>操作</td>
        <tr v-for="(item,index) in VideoInfo" :key="index">
        <td>{{item.introduce}}</td>
        <td>{{item.addr}}</td>
        <td>点击查看</td>
<!--        <tr><td>人上</td><td>www.seghbsvr ebrjbrbiwjjrnnrmnjeri.com</td><td>点击查看</td>-->
<!--        <tr><td>视问过我让国人人称</td><td>视频网址</td><td>点击查看</td>-->
<!--        <tr><td>视sdv</td><td>视频网址</td><td>点击查看</td>-->
        </tr>
    </table>
    <div id="bottomdiv">
        <div id="lasttPage"><a>上一页</a></div>
        <div id="currentPage">1</div>
        <div id="nextPage" ><a>下一页</a></div>

    </div>
</div>
</div>
<script type="text/javascript" >
    var vm=new Vue({
        el:"#app",
        data:{
            toPage:{contextInfo:"",currentPage:"1"},
            VideoInfo: ''

        },
        methods:{
            fuck:function(){
                // alert("点击@！");
                axios.post("video/tosearch",this.toPage)
                    .then(res=>{
                    console.info(res.data);
                alert("前端已经接受到数据！");
                this.data.VideoInfo=res.data.data;
                console.info("处理成功！");
                alert("将要挂载的数据"+this.data.VideoInfo)

            }).catch(res=>{
                console.info("没有成功得到了错误的数据！");
                    console.info(res);
            });

            }
        }
    });

</script>



</body>
</html>