/*加上搜索框的*/
#search{
    height: 40px;
    width: 500px;
    margin:  auto;
    border: 1px;
    text-align: center;
    line-height: 50px;
    margin-top: 0px;
}
#toptitle{
    height: 40px;
    width: 400px;
    margin: auto;
    text-align: center;
    font-size: large;
     margin-top: 0px;
    font-family: -apple-system;
    /*background-color: #9e9e9e;*/
    color: #abdde5;
}

.mainbox{
    width: 800px;
    height:600px;
    border: #1e7e34 1px solid;
    margin-top: 20px;
    margin: auto;
    text-align: center;
}
#maintable{
    text-align: center;
    width: 798px;
    height: 480px;

}
#bottomdiv{
    width: 798px;
    border: 1px;
    height: 80px;
    margin-top: 5px;
    margin: auto;
}
#lasttPage{
    height: 30px;
    width: 60px;
    border: 1px;
    left: 120px;
    text-align: center;
    line-height: 30px;
    background-color: #7f7f7f;
    float: left;
     margin: 0 200px;
    border-radius: 15px;
    color: antiquewhite;}
    a:hover{
        background-color: #bd3e4b;

    }

#nextPage{
    height: 30px;
    width: 60px;
    border: 1px;
    text-align: center;
    line-height: 30px;
    background-color: #7f7f7f;
    float: left;
    margin-left: 60px;
    border-radius: 15px;
    color: antiquewhite;
}
a:hover{
    background-color: #bd3e4b;
}
#currentPage{

    width: 20px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px;
    float: left;
    margin: auto;
    margin-right: 80px;

}
